
#options 
{
  
   display: none;
 position: absolute;
  right: 210px;
  width: 200;
  top: 700px;
  height: 300px;
  background-color: #000;

  
}


.user-name
{
background-color: #83d3c9;
color: white !important;
 margin-top: -45px;
 margin-left:10px;
 margin-bottom:5px;
  padding-bottom: 10px;

  font-size: 20px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  width: 200px;
  height:35px;
  text-align:center;
-webkit-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
}

.sub-link 
{
	padding-left:50px;
    width: 60px;
    color: #FF0062;
  font-size: 14px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  
}
.sub-link:hover
{
    width: 60px;
    color: #FF0062;
  font-size: 14px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  
}

.r-nav-container{
z-index:1;
 position: absolute;
  right: 250px;
  width: 200;
  top: 700px;
  height: 300px;
 
  

}
.r-nav-container img {


 width: 35px;
  height: 30px;
  border-radius: 50px;

  

}
.r-nav-container img:active {

-webkit-box-shadow: inset 0px 0px 2px 0px rgba(43,43,43,1);
-moz-box-shadow: inset 0px 0px 2px 0px rgba(43,43,43,1);
box-shadow: inset 0px 0px 2px 0px rgba(43,43,43,1);
}
.r-nav-container img:hover {

-webkit-box-shadow: inset 0px 0px 2px 0px rgba(43,43,43,1);
-moz-box-shadow: inset 0px 0px 2px 0px rgba(43,43,43,1);
box-shadow: inset 0px 0px 2px 0px rgba(43,43,43,1);
}
a {
  text-decoration: none;
  color: black;
}
ul {
  text-align: inherit;
  list-style-type: none;
  
}
hr
{

  width: 80px;
}
.feed
{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  min-height: 500px;
  background-color: #8CB6FF;
  padding: 20px;
  padding-left: 55px;
  text-align: left;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: #2b2b2b;
-webkit-box-shadow: inset 0px 0px 5px 2px rgba(66,66,66,1);
-moz-box-shadow: inset 0px 0px 5px 2px rgba(66,66,66,1);
box-shadow: inset 0px 0px 5px 2px rgba(66,66,66,1);
border-radius: 121px 0px 10px 10px;
-moz-border-radius: 121px 0px 10px 10px;
-webkit-border-radius: 121px 0px 10px 10px;
border: 0px solid #2b2b2b;
  
}
.postBox
{

  background-image: url('http://2hdsales.com/image/grey.jpg') ;
  min-height: 125px;

  margin: 5px;
  margin-bottom:20px;
  padding: 5px;
	
-webkit-box-shadow: 0px 2px 5px 0px rgba(43,43,43,1);
-moz-box-shadow: 0px 2px 5px 0px rgba(43,43,43,1);
box-shadow: 0px 2px 5px 0px rgba(43,43,43,1);
}

#r-button {
  background-color: #;
  font-style: normal;
  z-index: 1;
  position: absolute;
  top: 1px;

  
  
  
  
}
#r-button2 {

  display: none;
  background-color: #fff;
  font-style: normal;
  
}
#r-button:hover {


  cursor: pointer;
  
}
#r-button2:hover {


  background-color: #1DCBD4;
  cursor: pointer;
  
}
.postText 
{

  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
  font-size: 16px;
  text-shadow: 1px 1px 1px #fff;
  color: #2b2b2b; 
  text-indent: 25px; 
}
.user_img
{

	border: solid 1px rgba(124, 128, 129, 0.2);
}
.profile_img
{
width:35px;
height:35px;
padding: 5px;
position:absolute;

}
.profile_img:hover
{
width:35px;
height:35px;
padding: 3px;
position:absolute;

}
.postText img
{
margin-left:10px;
padding-right: 10px;
  width: 30px;
  height: 20px;
}

.postImage 
{
  padding: 2px;
  border-radius: 5px; 
  background: rgba(255,255,255,1.0);
  border: 1px solid #D5D5D5;
  
}
.postImage:hover 
{
border: 2px solid #2b2b2b;
width: 150px;
box-shadow: 1px 1px 5px #000000;
position:relative;

}
a img { display:none; }
a:hover img { display:block; }


.PromptDelete
{
  float: left;
  background: rgba(0,0,255,0.7);
  height:  75px;
  
}
/* IGNORE NO-TOUCH */

/* Alert */

#alert {
    position: relative;
}
#alert:hover:after {
    background: hsla(0,0%,0%,.8);
    border-radius: 3px;
    color: #f6f6f6;
    content: 'Click to cancel';
    font: bold 12px/30px sans-serif;
    height: 30px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 120px;
}
#alert:hover:before {
    border-bottom: 10px solid hsla(0,0%,0%,.8);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 40px;
    width: 0;
}
#alert:target {
    display: none;
}
.alert {
    background-color: #c4453c;
    background-image: -webkit-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.05) 25%,
                      hsla(0,0%,0%,.05) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.05) 75%,
                      hsla(0,0%,0%,.05));
    background-image: -moz-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: -ms-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: -o-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    width: 100%;
    -webkit-animation: alert 1s ease forwards;
       -moz-animation: alert 1s ease forwards;
        -ms-animation: alert 1s ease forwards;
         -o-animation: alert 1s ease forwards;
            animation: alert 1s ease forwards;
}

/* Animation */

@-webkit-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-moz-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-ms-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-o-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}